.box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    background-size: cover;
    background-repeat: repeat;
    padding-left: 8px;
    width: 100%;
    width: 100vw;
    height: 100vh;
    height: 100%;


    color: black;

}

.box h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}