/*Agregue sombras para crear el efecto de "tarjeta"*/
.card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 24px;
    border-bottom: 1px solid white;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

/* Al pasar el mouse, agregue una sombra más profunda */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(199, 197, 197, 0.2);
}

/* Agregue un poco de relleno dentro del contenedor de la tarjeta */
.card_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}
.ver_mas{
    display: flex;
    justify-content: flex-end;
}
.clickme{
    float: right;
    margin: 5px;
    padding: 10px;
    border-radius: 39px;
    font-size: 16px;
}