.titleServicios {
    font-weight: 200;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    padding: 60px;
}

.titleServicios:hover {
    letter-spacing: 4px;
}


.cards{
    padding: 30px 80px;
    display:flex;
    gap: 10px;
    align-content: center;
    justify-content: space-between;
    /* margin-bottom: 50px; */
}