.img{
  display: flex;
  flex-direction: row;
  position: relative;
}

.h3Card{
  /* padding: 15px; */
  position:absolute;
  /* justify-content: center; */
  /* text-align: center; */
  bottom: 0;
  font-size: 18px;
}

.img img {
  width: 100%;
}










