.title {
    margin-top: 140px;
    margin-left: 90px;
}

.descriptionTitle {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    

}



.imgTitulo {
    z-index: 3;
}

.description {
    font-size: 25px;
    border: 1px solid white;
    margin-top: 130px;
    margin-left: 45px;
    margin-right: 146px;
    padding: 25px;
}





