.contactoTitulo {
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.4s;
}

.contactoTitulo:hover{
    letter-spacing: 2px;
}


.contacto{
    display: flex;
    flex-direction: row;
    position: relative;

}


.form {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(5, 4, 8, 0.397);
    text-align: center;
    width: 600px;
}

.textarea {
    border-radius: 20px;
    margin-bottom: 10px;
}

input {
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: none;
    border: none;
    font-size: 18px;
    box-shadow: 0 2px 7px rgba(5, 4, 8, 0.397);
    padding: 8px;
    border-radius: 10px;
}

.form textarea{
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

/* .containerImg{
    height: 500px
} */





