
.contenedor_form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid grey;
}

.contacto {
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
    /* background-color: whitesmoke; */
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(5, 4, 8, 0.397);
    text-align: center;
    width: 700px;
    margin-left: 50px;
  }
  
  
  input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: -5px;
    background-color: none;
    border: none;
    font-size: 18px;
    box-shadow: 0 2px 7px rgba(5, 4, 8, 0.397);
    padding: 8px;
    border-radius: 4px;
    width: 600px;
  }

  .textarea{
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 8px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  