.login{
    background-color:#141619 !important;
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
        /* max-width: 320px; */
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px;
    margin-top: 30px;
}

.buttonLogin{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tituloLogin{
    display: flex;   
    margin-left: 32px;
    padding: 30px;
    flex-direction: column;
}
.loginCaja{
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    background: #363838;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.imgLogin{
    margin-left: 50px;
}
.button{
    width: 100%;
}