body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  background-image: url('../src/images/img\ hero.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  list-style: none;
  height: 40px;
  border-bottom: 1px solid white;
  margin-top: 25px;
  margin-left: 15px;
}

.img_navbar {
  margin-left: 20px;
}

.header nav ul {
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;

}

.title {
  margin-top: 140px;
  margin-left: 90px;
}

.description_title {
  font-size: 25px;
}

/* .title{
  background-image: url('../src/images/img\ hero.png');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
} */

.img_titulo {
  z-index: 3;
}

.description {
  font-size: 25px;
  border: 1px solid white;
  margin-top: 130px;
  margin-left: 45px;
  margin-right: 146px;
  padding: 25px;
}

.servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  font-weight: 200;
}

.img_cards {
  margin-left: 107px;
}

/* .galeria {
  margin-left: -70px;
} */

.title-galeria {
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  margin-top: 10px;
  margin-left: 170px;
}

.container-img .box-img figure {
  width: 100%;
  height: 100%;
}

.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}

.contacto {
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 30px 60px;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(5, 4, 8, 0.397);
  text-align: center;
  width: 600px;
}

.textarea {
  border-radius: 20px;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: none;
  border: none;
  font-size: 18px;
  box-shadow: 0 2px 7px rgba(5, 4, 8, 0.397);
  padding: 8px;
  border-radius: 10px;
}
.buttonIngresar{
  display: flex;
  width: 120vh;
  justify-content: flex-end;
}
.ingresar{
  font-size: revert;
  margin: 10px;
  border: 21px;
  border-radius: 16px;
}