.box{
    background-color: white;
    width: 100%;
    height:100vh;
    color: black
}

.rdt_TableCol {
    background-color: rgb(126, 161, 226);
    color: white;
}

.rdt_TableCell {
    background-color: aqua;
}

.rdt_Pagination {
    font-size: 30px;
}